#NavLinks{
  text-align: center;
  display: none;
}

h4 {
  font-size: 1.2em;
  color: black;
  margin-bottom: 0;
}

nav{
  margin-bottom: 30px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin-right: 40px;
  margin-left: 40px;
}
nav a:visited, a:link {
  color: purple;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}