<div class='Register'>
	<input [(ngModel)]="firstname" class="input" placeholder="please enter your first name">
	<input [(ngModel)]="lastname" class="input" placeholder="please enter your last name">
	<input [(ngModel)]="email" class="input" placeholder="please enter your email address">
	<input [(ngModel)]="password" class="input" placeholder="please enter your password">
	<input [(ngModel)]="userName" class="input" placeholder="please enter your user name">
	<input [(ngModel)]="homeAddress" class="input" placeholder="please enter your home address">
	<input [(ngModel)]="cellNumber" class="input" placeholder="please enter your phone number">
	<button (click)="register()">Register!</button>
</div>


